code {
    font-size: 25%;
    letter-spacing: -0.005em;
}

pre[class*='language-'] {
    background: rgb(0 0 0 / 50%);
    border-radius: 0.1em;
    line-height: 0;
    margin: 0.5em 0 0;
    padding: 0 3% 1%;
}
