@use '@fontsource/montserrat/scss/mixins' as montserrat;

@include montserrat.faces($directory: '@fontsource/montserrat/files/', $subsets: latin latin-ext, $weights: 400 500);

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: #3c3c43;
    color: #fff;
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
    font-size: 8vw;
    height: 56.25vw;
    margin: 0;
    padding: 0;
    width: 100%;
}

@media (min-aspect-ratio: 16/9) {
    body {
        font-size: calc(8vh * 16 / 9);
        height: 100%;
        margin: 0 auto;
        width: calc(100vh * 16 / 9);
    }
}

h1 {
    font-size: 120%;
    font-weight: 500;
}

h2 {
    font-size: 80%;
    font-weight: 500;
}

li,
p {
    font-size: 50%;
}

body h1:first-child,
body h2 {
    margin-top: 0;
}

ul {
    margin: 0.5em 0;
    padding: 0 0 0 0.5em;
}

li {
    margin: 0.5em 0;
}

.footnote {
    color: #f0db4f;
    display: block;
    font-size: 30%;
    margin: 2% auto 0;
}

li a {
    color: inherit;
}
